<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/apk/tools">

    <application
        android:label="@string/app_name"
        android:allowBackup="false">

        <!-- miuix-blur 声明 minSdk 33, 运行时效果已做 API 守卫, WeKit 同款覆盖 (WeKit minSdk=28) -->
        <uses-sdk tools:overrideLibrary="top.yukonga.miuix.kmp.blur" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/module_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="51" />
        <meta-data
            android:name="xposedscope"
            android:value="com.changan.uni" />
    </application>

</manifest>
